doctype
html
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		title Frontend Devil 2.0
		meta(name='description', content='')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel='stylesheet', href='css/app.css')
	body
		block content
		script(src='js/vendor.js')
		script(src='js/app.js')
